@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merienda");

/* サイト全体の設定 */
body {
  font-family: "Hiragino Kaku Gothic Pro", "Meiryo", "Sans-serif";
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #ddd;
}
li {
  list-style-type: none;
}

.w_inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* フワッと表示 */
.scroll-up_1 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 3s;
}
.scroll-up_2 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 5s;
}
.scroll-up_3 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 7s;
}
.scroll-up.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* 個別設定 */

.header {
  position: relative;
}

.header h1 {
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(64, 171, 233, 0.9);
  font-size: 80px;
  border-bottom: solid 2px rgba(64, 171, 233, 0.8);
  animation-name: fade;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* メイン */
/* エクスプラネーション*/
.explanation {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #aaa;
}

.explanation h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;
}

.explanation p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 24px;
}

/* デリヴァラブル */
.derivaerable {
  margin-top: 200px;
  margin-bottom: 400px;
}

.derivaerable .service_block {
  margin-top: 200px;
}

.derivaerable .service {
  margin: 100px auto;
  width: 1000px;
  text-align: center;
}

.derivaerable h3 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 40px;
}

.derivaerable .service img {
  width: 1000px;
  height: 1000px;
  margin-bottom: 40px;
}

.derivaerable .service .ttl {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

/* インフォメーション */
.information {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}

.information h4 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(170, 170, 170, 0.8);
  text-align: center;
  font-size: 50px;
}

.information a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: rgba(170, 170, 170, 0.8);
}

.information .top a {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: rgba(170, 170, 170, 0.8);
}

.footer {
  margin-top: 0;
}

.copy {
  text-align: center;
  background: rgba(187, 155, 100, 0.8);
  color: #fff;
  font-size: 12px;
  padding: 7px 0 3px;
}
